<html>
<head>
<title>vivit_jcになれるボタン</title>
<meta charset=utf-8 />
<link href="app.css" rel="stylesheet">
</head>
<body>

<div class="main">
<div>
<h1>vivit_jcになれるボタン 10連ガチャ</h1>
<p>全<%= @num %>種</p>
<% @text.each do |t| %>
<div class="nareru-text"><p><%= t %></p></div>
<% end %>
</div>
</div>
</body>
</html>