<html>
<head>
<title>vivit_jcになれるボタン</title>
<meta charset=utf-8 />
<link href="app.css" rel="stylesheet">
</head>
<body>
<div class="main">
<div>
<h1>vivit_jcになれるボタン</h1>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @text %>" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br><br><br>
※更新するたびに内容が変わります。<br><br>
<b>オーセンティケーションフリー！</b><br>
このアプリはTwitter認証を利用していないので、あなたの予想に反する挙動は起こしません。<br>
安心してvivit_jcになってください。<br>
本人：<a href="https://twitter.com/vivit_jc">@vivit_jc</a>
</div>
</div>
</body>
</html>